<% include header %>

<style>
    h1 {text-align: center;}
</style>

<head><h1>Audio</h1></head>
<table id="login">

    <tr><th>Rank</th>
        <th>Song</th>
        <th>Artist</th>
        <th>Album</th>
        <th>Audio</th>
        <th>Type</th>
        <th>Time</th>
        <th>Description</th>
    </tr>
    <% for (var i=0; rs.length > i; i++) { %>
    <tr>
        <td><%= rs[i].Rank %></td>
        <td><a href="/tabbook/Song/?Song=<%= rs[i].SongName %>&Artist=<%= rs[i].ArtistName %>&Album=<%= rs[i].AlbumName %>"> <%= rs[i].SongName %></td>
        <td><a href="/tabbook/Artist/?Artist=<%= rs[i].ArtistName %>"> <%= rs[i].ArtistName %></td>
        <td><a href="/tabbook/Album/?Album=<%= rs[i].AlbumName %>&Artist=<%= rs[i].ArtistName %>"> <%= rs[i].AlbumName %></td>
        <td><a href="<%= rs[i].Link %>"><%= rs[i].Link %></a></td>
        <td><%= rs[i].Audio_Type %></td>
        <td><%= rs[i].Audio_Time%></td>
        <td><%= rs[i].Description%></td>
    </tr>
    <% } %>
</table>

<% include footer %>
